[submodule "BackEnd"]
	path = BackEnd
	url = https://github.com/ibrahimkayroky/speedoTransfer-BackEnd
[submodule "IOS"]
	path = IOS
	url = https://github.com/ibrahimkayroky/speedoTransfer-IOS.git
[submodule "FrontEnd"]
	path = FrontEnd
	url = https://github.com/ibrahimkayroky/speedoTransfer-FrontEnd
